@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 22px;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}
#rotateImg {
  transition: box-shadow 0.1s, transform 0.1s;
  border-radius: 16px;
}

#rotateImg:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/*  */
.container_card {
  color: white;
  height: 370px;
  perspective: 800px;
}

.container_card:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #f2f2f2;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*  */
.navbar_text button {
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
  position: relative;
  transition: 0.3s ease-in-out;
  padding: 6px 12px;
  z-index: 40;
}
.navbar_text button span {
  z-index: 40;
}
.navbar_text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;

  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar_text button:hover {
  color: #f5f5f5;
  border: 1px solid #fff;
}
.navbar_text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1b1b1b;
}
